html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}

#main_logo a {
    color: none;
    text-decoration: none;
    font-weight: none;
}

ol li {
    padding: 5px 0 5px 0;
}

code {
    font-weight: bold;
    font-family: monospace;
    max-width: inherit;
    font-size: inherit;
}

body{
    font-family: 'Playfair Display', sans-serif;
}   

p, h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    padding: 0px 20px 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    color: white;
    background-color: #333333;
}

footer {
    color: white;
    background-color: #333333;
    margin-top: 20px;
}

footer p {
    padding: 20px 0 20px 0;
    text-align: left;
    font-style: italic;
    font-size: small;
}

.main_header h1 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.main_header p {
    font-size: 20px;
}

.main_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.main_header div {
    padding: 30px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    padding: 0 20px 0 20px 0;
}

.menu p {
    margin: 5px 10px 5px 10px;
    width: 120px;
    text-align: center;
    border: 1px solid white;
    border-radius: 0px;
    padding: 3px 0px 3px 0px;
    font-size: 14px;
}

.menu-item-on {
    background-color: white;
    font-weight: bold;
    color: #333333;
}

.menu-item-off {
    transition-delay: 300ms;
    transition: 300ms;
}

.menu-item-off:hover {
    background-color: white;
    color: #333333;
    transition: 300ms;
}

.content {
    min-height: 80%;
    color: #333333;
}

.content p {
    margin-top: 20px;
}

.code-snippet {
    margin: 30px 0 30px 0;
    max-width: inherit;
}

.code-snippet code {
    margin: 30px 0 30px 0;
    max-width: inherit;
    font-weight: normal;
}

.plot {
    display: flex;
    max-width: inherit;
    max-height: 600px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

.plot img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.plot-small-height {
    max-height: 400px;
}

.plot-tiny-height {
    max-height: 300px;
}

.plot-small-width {
    max-width: 800px;
}

.plot-tiny-width {
    max-width: 500px;
}

#main_logo {
    width: 60px;
    display: flex;
    padding: 20px 0 0 20px;
}

#main_logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.page {
    display: none;
}

#main-page {
    display: block;
}

.code-snippet {
    font-size: small;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.menu span {
    line-height: 34px;
}

.menu span:hover {
    color: wheat;
}

.row-with-images {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.row-with-images div {
    flex-grow: 1;
    text-align: center;
}

.row-with-images img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 800px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .menu p {
        margin: 0px;
        width: 100%;
        text-align: center;
        border: 1px solid white;
        border-radius: 0px;
        padding: 10px 0 10px 0;
    }

    header .wrapper {
        padding: 0px;
    }

    header .menu {
        padding-bottom: 0px;
    }

    .row-with-images {
        flex-direction: column;
        align-items: center;
    }

    .row-with-images img {
        max-width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .main_header div {
        padding: 10px;
    }

    #main_logo {
      padding: 10px 5px 0 0; 
    }
}

@media screen and (max-width: 500px) {
    #main_logo {
        margin-bottom: 10px;
    }

    .main_header h1 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 16px;
    }
}